<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SpeciesName</key>
		<string>Aprion virescens</string>
		<key>CommonName</key>
		<string>Green jobfish </string>
		<key>ImageName</key>
		<string>tn_Apvir_u5.jpg</string>
	</dict>
	<dict>
		<key>SpeciesName</key>
		<string>Brotula multibarbata</string>
		<key>CommonName</key>
		<string>Goatsbeard brotula </string>
		<key>ImageName</key>
		<string>tn_Brmul_u6.jpg</string>
	</dict>
	<dict>
		<key>SpeciesName</key>
		<string>Elagatis bipinnulata</string>
		<key>CommonName</key>
		<string>Rainbow runner </string>
		<key>ImageName</key>
		<string>tn_Elbip_u7.jpg</string>
	</dict>
	<dict>
		<key>SpeciesName</key>
		<string>Eleotris sandwicensis</string>
		<key>CommonName</key>
		<string>Sandwich Island sleeper </string>
		<key>ImageName</key>
		<string>tn_Elsan_u1.jpg</string>
	</dict>
	<dict>
		<key>SpeciesName</key>
		<string>Etelis carbunculus</string>
		<key>CommonName</key>
		<string>Deep-water red snapper </string>
		<key>ImageName</key>
		<string>tn_Etcar_u5.jpg</string>
	</dict>
	<dict>
		<key>SpeciesName</key>
		<string>Etelis coruscans</string>
		<key>CommonName</key>
		<string>Deepwater longtail red snapper </string>
		<key>ImageName</key>
		<string>tn_Etcor_u0.jpg</string>
	</dict>
	<dict>
		<key>SpeciesName</key>
		<string>Lampris guttatus</string>
		<key>CommonName</key>
		<string>Opah </string>
		<key>ImageName</key>
		<string>tn_Lagut_ua.jpg</string>
	</dict>
	<dict>
		<key>SpeciesName</key>
		<string>Polydactylus sexfilis</string>
		<key>CommonName</key>
		<string>Sixfinger threadfin </string>
		<key>ImageName</key>
		<string>tn_Posex_ua.jpg</string>
	</dict>
</array>
</plist>
