<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>SpeciesName</key>
			<string>Aprion virescens</string>
			<key>CommonName</key>
			<string>Aprion virescens</string>
			<key>ImageURL</key>
			<string>http://fishbase.org/images/thumbnails/jpg/tn_Apvir_u5.jpg</string>
		</dict>
		<dict>
			<key>SpeciesName</key>
			<string>Brotula multibarbata</string>
			<key>CommonName</key>
			<string>Brotula multibarbata</string>
			<key>ImageURL</key>
			<string>http://fishbase.org/images/thumbnails/jpg/tn_Brmul_u6.jpg</string>
		</dict>
		<dict>
			<key>SpeciesName</key>
			<string>Elagatis bipinnulata</string>
			<key>CommonName</key>
			<string>Elagatis bipinnulata</string>
			<key>ImageURL</key>
			<string>http://fishbase.org/images/thumbnails/jpg/tn_Elbip_u7.jpg</string>
		</dict>
		<dict>
			<key>SpeciesName</key>
			<string>Eleotris sandwicensis</string>
			<key>CommonName</key>
			<string>Eleotris sandwicensis</string>
			<key>ImageURL</key>
			<string>http://fishbase.org/images/thumbnails/jpg/tn_Elsan_u1.jpg</string>
		</dict>
		<dict>
			<key>SpeciesName</key>
			<string>Etelis carbunculus</string>
			<key>CommonName</key>
			<string>Etelis carbunculus</string>
			<key>ImageURL</key>
			<string>http://fishbase.org/images/thumbnails/jpg/tn_Etcar_u5.jpg</string>
		</dict>
		<dict>
			<key>SpeciesName</key>
			<string>Etelis coruscans</string>
			<key>CommonName</key>
			<string>Etelis coruscans</string>
			<key>ImageURL</key>
			<string>http://fishbase.org/images/thumbnails/jpg/tn_Etcor_u0.jpg</string>
		</dict>
		<dict>
			<key>SpeciesName</key>
			<string>Lampris guttatus</string>
			<key>CommonName</key>
			<string>Lampris guttatus</string>
			<key>ImageURL</key>
			<string>http://fishbase.org/images/thumbnails/jpg/tn_Lagut_ua.jpg</string>
		</dict>
		<dict>
			<key>SpeciesName</key>
			<string>Polydactylus sexfilis</string>
			<key>CommonName</key>
			<string>Polydactylus sexfilis</string>
			<key>ImageURL</key>
			<string>http://fishbase.org/images/thumbnails/jpg/tn_Posex_u5.jpg</string>
		</dict>
	</array>
</plist>