<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<species>Aprion virescens</species>
	<image>http://fishbase.org/images/thumbnails/jpg/tn_Apvir_u5.jpg</image>
	<species>Brotula multibarbata</species>
	<image>http://fishbase.org/images/thumbnails/jpg/tn_Brmul_u6.jpg</image>
	<species>Elagatis bipinnulata</species>
	<image>http://fishbase.org/images/thumbnails/jpg/tn_Elbip_u7.jpg</image>
	<species>Eleotris sandwicensis</species>
	<image>http://fishbase.org/images/thumbnails/jpg/tn_Elsan_u1.jpg</image>
	<species>Etelis carbunculus</species>
	<image>http://fishbase.org/images/thumbnails/jpg/tn_Etcar_u5.jpg</image>
	<species>Etelis coruscans</species>
	<image>http://fishbase.org/images/thumbnails/jpg/tn_Etcor_u0.jpg</image>
	<species>Lampris guttatus</species>
	<image>http://fishbase.org/images/thumbnails/jpg/tn_Lagut_ua.jpg</image>
	<species>Polydactylus sexfilis</species>
	<image>http://fishbase.org/images/thumbnails/jpg/tn_Posex_ua.jpg</image>

</dict>
</plist>